<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



<body style=" background-image: linear-gradient(to right, rgba(200, 180, 230, 0.5), rgba(150, 110, 190, 1)); text-align: center; align:center; background-repeat: no-repeat; background-size: auto;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
										      <img src="../static/logo.jpg" alt="Tag" width="48px" height="46px"><br>
													<a class="navbar-brand" href="{{ url_for('home')}}"> &nbsp;&nbsp;  Fruit Fiesta</a>
													<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
													<span class="navbar-toggler-icon"></span>
													</button>

													<div class="collapse navbar-collapse" id="navbarSupportedContent">







													</div>
							     </nav>

<div class="colored-div" align='center' >
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body"><br>
                    <h1 class="display-3 text-center mb-4">About Us</h1>
                    <div class="about-content">
                        <p>
                            Welcome to our fruits classifier and quality checker website! <br>
                            We are passionate about bringing technology and agriculture together<br>
                            to revolutionize the way fruits are classified and checked for quality.
                        </p>
                        <br>

                        <p class="display-5 text-center mb-4"><strong>Our Mission</strong></p>
                        <p>

                            At our core, we are driven by a mission to empower farmers, distributors, and consumers<br>
                            with innovative solutions that enhance the fruit classification process<br>
                            and ensure the highest quality produce reaches your table.
                        </p>
                        <br>
                        <br>

                        <p class="display-5 text-center mb-4"><strong>Our Offerings</strong></p>
                        <ul class="list-unstyled">

                                <strong>Fruit Classification</strong><br>
                                Our state-of-the-art classifier uses advanced machine learning algorithms to accurately<br>
                                identify and categorize various fruits based on images. Whether it's apples, bananas, or oranges,<br>
                                our classifier provides reliable results to streamline the fruit sorting process.

                            <br>
                                <br>
                                <strong>Quality Analysis</strong><br>
                                We understand the importance of quality when it comes to fruits.<br>
                                Our quality checker analyzes key attributes such as color, size, and shape<br>
                                to determine the freshness and ripeness of fruits, helping you make informed decisions about your produce.

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
    <div class="container">
        <center>
            <p>Copyright &copy; Fruit Fiesta. All Rights Reserved  |  Contact Us: +91 90000 00000</p>
        </center>
    </div>
</footer>
</div>

</body>
</html>
